.form {
  text-align: right;
}

.form button {
  font: inherit;
  cursor: pointer;
  background-color: #808616;
  border: 1px solid #1b2401;
  color: white;
  padding: 0.25rem 2rem;
  border-radius: 20px;
  font-weight: bold;
}

.form button:hover,
.form button:active {
  background-color: #52690c;
  border-color: #641e03;
}
